@use "variables" as *;

// Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Container
@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: $space-32 $space-24;

  @media (max-width: $breakpoint-md) {
    padding: $space-24 $space-16;
  }
}

//@mixin section-title {
//   font-size: $font-size-48;
//   font-weight: $fw-bold;
//   color: $color-primary;
//   text-align: center;
//   margin-bottom: $space-40 + 2rem;
//   @media (max-width: $breakpoint-lg) {
//     font-size: clamp($font-size-32, 4vw, $font-size-48 + 1rem);
//   }
//}
