@use "../../assets/styles" as *;

// ---- services section ----
.services {
  @include section;
  overflow-x: clip;

  // ---- container ----
  &__container {
    @include container;
    max-width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp($space-10, 2.4vw, $space-16);

    @media (width <= $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  // ---- card ----
  &__card {
    position: relative;
    max-width: 400px;
    margin-inline: auto;
    border-radius: clamp($radius-lg, 3vw, $radius-xl);
    will-change: transform;
    transition:
      scale 0.3s ease-in-out,
      z-index 0.3s ease-in-out;
    border: 2px dashed rgb(from var(--primary) r g b / 0.2);
    background-color: var(--background);

    // ---- media queries ----

    @media (width >= $breakpoint-lg) {
      &:nth-child(1) {
        rotate: -1deg;
        z-index: 1;
      }
      &:nth-child(2) {
        scale: 1.04;
        rotate: 0;
        z-index: 5;
      }
      &:nth-child(3) {
        rotate: 1deg;
        z-index: 1;
      }
    }

    // ---- hover ----
    @media (hover: hover) {
      &:hover {
        scale: 1.02;
        z-index: $z-elevated;
      }

      &:hover:nth-child(2) {
        scale: 1.06;
      }
    }

    // ---- pointer fine ----
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: none;

        .services__link,
        .services__link * {
          cursor: none;
        }
      }
    }

    // ---- active ----
    &:active {
      scale: 0.99;
      rotate: 0deg;
      z-index: $z-elevated;
    }
  }

  // ---- link ----
  &__link {
    @include flex-column;
    gap: clamp($space-10, 2.4vw, $space-14);
    width: 100%;
    height: 100%;
    padding: clamp($space-12, 1vw, $space-14);
  }

  // ---- media ----
  &__media {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    background-color: var(--primary-softer);
    border-radius: $radius-lg;
  }

  // ---- image ----
  &__image {
    object-fit: contain;
    scale: 0.7;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  // ---- body ----
  &__body {
    @include flex-column;
    gap: clamp($space-4, 1.6vw, $space-10);
    padding: clamp($space-4, 2.4vw, $space-8);
  }

  // ---- title ----
  &__title {
    font-size: clamp($font-size-18, 1vw, $font-size-20);
    font-weight: $fw-bold;
    color: var(--primary);
    text-wrap: nowrap;
  }

  // ---- description ----
  &__description {
    font-size: clamp($font-size-14, 1vw, $font-size-16);
    line-height: 1.5;
    color: var(--text-light);
    word-spacing: -0.6px;
  }

  // ---- bullets ----
  &__bullets {
    @include flex-column;
    gap: clamp($space-4 + 1px, 1vw, $space-10);
    justify-content: flex-start;
  }

  // ---- bullet ----
  &__bullet {
    display: flex;
    align-items: center;
    gap: clamp($space-4, 0.8vw, $space-8);
    font-size: clamp($font-size-12, 1vw, $font-size-14);
    line-height: 1.6;
    color: var(--text-muted);
    word-break: keep-all;
    width: 100%;
    text-wrap: nowrap;

    // ---- icon ----
    &-icon {
      @include flex-center;
      width: fit-content;

      // ---- svg ----
      svg {
        font-size: clamp($font-size-10, 1.3vw, $font-size-12);
        color: rgb(from var(--primary) r g b / 0.8);

        @media (width <= $breakpoint-md) {
          margin-top: -2px;
        }
      }
    }
  }

  // ---- cursor animation ----
  &__cursor {
    @include flex-center;
    position: absolute;
    inset: 0;
    z-index: $z-card;
    width: clamp(55px, 1.5vw, 60px);
    aspect-ratio: 1;
    background-color: rgb(from var(--primary) r g b / 0.5);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    pointer-events: none;

    @media (hover: none), (pointer: coarse) {
      display: none;
    }

    svg {
      font-size: $font-size-24;
      stroke-width: 3px;
      color: var(--text-inverse);
    }
  }
}
