@use "../../assets/styles" as *;

.about__me {
  @include page;

  // ---- container ----
  &-container {
    @include container;
  }

  // ---- steps list ----
  &-steps {
    @include flex-column;
    align-items: center;
    gap: clamp($space-24, 4vw, $space-48);
    width: fit-content;
    margin-inline: auto;

    @media (width <= $breakpoint-md) {
      padding-inline: clamp($space-4, 1vw, $space-12);
    }
  }

  // ---- each step row ----
  &--step {
    @include flex-center;
    gap: clamp($space-12, 5vw, $space-24);
    padding: clamp($space-24, 4vw, $space-48) clamp($space-4, 14vw, $space-8);
    width: 100%;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    @media (width <= $breakpoint-md) {
      flex-direction: column !important;
    }

    &:last-child {
      margin-bottom: clamp($space-32, 4vw, $space-72);
    }
  }

  // ---- image wrapper ----
  &--wrapper {
    width: fit-content;

    @media (width <= $breakpoint-md) {
      width: 100%;
      padding-block: $space-20;
    }
  }

  &--photo {
    position: relative;
    width: clamp(290px, 35vw, 350px);
    aspect-ratio: 1;
    background-color: var(--image-bg);
    padding: clamp($space-4, 6vw, $space-8) clamp($space-4, 6vw, $space-8)
      clamp($space-32, 6vw, $space-40);
    transform: rotate(2.2deg);
    border: 1.5px dashed rgb(from var(--primary) r g b / 0.2);

    &-odd {
      transform: rotate(-2.2deg);
      margin-left: auto;
    }
  }
  // image inside polaroid
  &-img {
    object-fit: cover;
    object-position: top;
    user-select: none;
    -webkit-user-drag: none;
  }

  // ---- content side ----
  &--content {
    @include flex-column;
    gap: clamp($space-12, 1.5vw, $space-16);

    &-title {
      @include flex-center;
      gap: $space-4;
      justify-content: flex-start;
      font-family: $font-brush;
      font-size: clamp($font-size-28, 3.5vw, $font-size-32);
      font-weight: $fw-bold;
      color: var(--accent);
      letter-spacing: -1px;

      &-odd {
        color: var(--secondary);
      }
    }

    &-icon {
      @include flex-center;
      font-size: inherit;
      color: rgb(from var(--secondary) r g b / 0.5);
      margin-right: $space-4;

      &-odd {
        color: rgb(from var(--accent) r g b / 0.5);
      }
    }

    &-body {
      max-width: 60ch;
      font-size: clamp($font-size-12 + 1px, 1vw, $font-size-16);
      color: var(--text-muted);
      line-height: 1.7;
      text-indent: clamp($space-10, 1.5vw, $space-12);
    }
  }
}
