@use "../../assets/styles" as *;

// ---- research section ----
.research {
  @include section;

  // ---- container ----
  &__container {
    @include container;
    @include flex-column;
    align-items: center;
    padding-block-end: clamp($space-16, 4vw, $space-40);

    img {
      max-width: 700px;
      width: 100%;
      aspect-ratio: 1;
      margin-inline: auto;
    }
  }

  &__status {
    color: red;
    font-size: $font-size-18;
    margin-top: -100px;
  }
}
