@use "../../assets/styles" as *;

// ---- about section ----
.about {
  @include section;

  // ---- about container ----
  &__container {
    @include container;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    gap: clamp($space-8, 1.3vw, $space-32);

    @media (width <= $breakpoint-2md) {
      max-width: 100%;
    }

    @media (width <= $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  // ---- media container ----
  &__media {
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 15%;
      height: 100%;
      z-index: $z-base;
      pointer-events: none;
      border-radius: $radius-xl;
    }

    &::after {
      left: -1px;
      background: linear-gradient(
        to right,
        var(--background) 5%,
        transparent 100%
      );
    }

    &::before {
      right: -1px;
      background: linear-gradient(
        to left,
        var(--background) 5%,
        transparent 100%
      );
    }
  }

  // ---- paragraphs ----
  &__paragraphs {
    font-size: clamp($font-size-14 - 1px, 1.5vw, $font-size-16);
    color: var(--text-muted);
    line-height: 1.6;
    text-wrap: pretty;
    word-break: keep-all;
    max-width: 56ch;
    margin-inline: auto;

    @media (width <= $breakpoint-md) {
      margin-top: $space-8;
    }

    &-space {
      display: block;
      height: clamp($space-4, 1vh, $space-16);
    }

    &-link {
      font-size: inherit;
      display: inline;
      color: inherit;
      text-decoration: underline solid var(--text-muted);
      text-underline-offset: 3px;
      border-radius: $radius-sm;
      transition: all 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          color: var(--accent);
          text-decoration-color: var(--accent);
        }
      }

      &:active {
        color: var(--accent);
        text-decoration-color: var(--accent);
      }

      svg {
        transform: translateY(5px);
      }
    }
  }
}
