@use "../../assets/styles" as *;

// ---- about section ----
.about {
  @include section;

  // ---- about container ----
  &__container {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: clamp($space-16, 5vw, $space-32);

    @media (max-width: $breakpoint-2md) {
      grid-template-columns: 1fr;
      max-width: 570px;
    }
  }

  // ---- media container ----
  &__media {
    position: relative;
    width: 100%;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 40%;
      height: 100%;
      z-index: $z-base;
      pointer-events: none;
      border-radius: $radius-xl;
    }

    &::after {
      left: -2px;
      background: linear-gradient(
        to left,
        transparent 50%,
        var(--background) 100%
      );
    }

    &::before {
      right: -2px;
      background: linear-gradient(
        to right,
        transparent 50%,
        var(--background) 100%
      );
    }

    // i would like to use -webkit-box-reflect: right; but it's not supported by firefox
  }

  // paragraphs + link
  &__content {
    @include flex-column;
    gap: clamp($space-8, 2.4vw, $space-16);
    padding-inline: $space-12;

    @media (max-width: $breakpoint-md) {
      padding: 0;
    }
  }
  // ---- paragraphs ----
  &__paragraphs {
    font-size: clamp($font-size-14, 1.5vw, $font-size-16);
    color: var(--text-muted);
    line-height: 1.6;
    text-wrap: pretty;
    word-break: keep-all;

    &-space {
      display: block;
      height: clamp($space-8, 2.4vw, $space-16);
    }

    &-link {
      display: inline;
      color: inherit;
      text-decoration: underline solid var(--text-muted);
      text-underline-offset: 3px;
      border-radius: $radius-sm;
      transition: all 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          color: var(--accent);
          text-decoration-color: var(--accent);
        }
      }

      &:active {
        color: var(--accent);
        text-decoration-color: var(--accent);
      }

      svg {
        transform: translateY(5px);
      }
    }
  }
}
