@use "../../assets/style/variables" as *;

.nav {
  display: flex;
  gap: $space-32;
}

.navLink {
  font-size: $font-size-14;
  font-weight: $fw-medium;
  color: $gray-800;
  transition: color 0.2s;

  &:hover {
    color: $black;
  }
}
