@use "../assets/styles" as *;

// ---- home page ----
.home__main {
  @include flex-column;
  overflow-x: clip;
  position: relative;
  background-color: var(--background);

  @media (width <= $breakpoint-md) {
    padding-inline: $space-4;
  }
}
