@use "../assets/styles" as *;

// ---- home page ----
.home__main {
  @include flex-column;
  @include page;
  overflow-x: clip;
  position: relative;
  padding: 0;

  @media (width <= $breakpoint-md) {
    padding-inline: $space-4;
  }
}
