@use "../../assets/styles" as *;

.header {
  position: fixed;
  width: 100%;
  z-index: $z-header;
  background-color: color-mix(in srgb, var(--background) 80%, transparent);
  backdrop-filter: blur(8px);

  @media (max-width: $breakpoint-2md) {
    position: sticky;
    top: 0;
  }

  &--mobile-menu-open {
    background-color: var(--surface);
    backdrop-filter: none;
    position: fixed;
  }

  &__container {
    @include container;
    @include flex-between;
    border-radius: 0;
    padding: clamp($space-8, 2vw, $space-12);
    background-color: transparent;

    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }
  }

  &__menu-open {
    @include flex-center;
    flex-direction: column;
    width: $space-24;
    height: $space-24;
    gap: $space-8;
    padding: $space-8;
    border: none;
    border-radius: $radius-md;
    background: transparent;
    cursor: pointer;

    &--active {
      .header__menu-line:nth-child(1) {
        transform: translate(0px, 9px) rotate(45deg);
      }

      .header__menu-line:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
      }

      .header__menu-line:nth-child(3) {
        transform: translate(0px, -11px) rotate(-45deg);
      }
    }

    @media (hover: hover) {
      &:not(&--active):hover {
        background-color: var(--primary-softer);

        .header__menu-line {
          background-color: var(--primary-hover);
          width: 100%;
        }
      }
    }
  }

  &__menu-line {
    display: block;
    width: 100%;
    height: 1.8px;
    background-color: var(--primary);
    transform-origin: center;
    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
      width: 50%;
      margin-left: auto;
    }
  }

  .header__navigation {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
