@use "../../assets/styles" as *;

.tooltip {
  z-index: $z-floating;
  max-width: 17rem;
  padding: $space-8 $space-8;
  border-radius: $radius-md;
  background-color: var(--neutral);
  color: var(--text-inverse);
  font-family: $font-primary;
  font-size: $font-size-12;
  font-weight: $fw-semibold;
  line-height: 1.55;
  outline: none;
  transform-origin: var(--trigger-anchor-point, center);
  transition:
    opacity 0.18s ease,
    transform 0.18s ease;

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
    transform: scale(0.96);
  }

  &[data-placement="top"] {
    margin-bottom: $space-4;

    &[data-entering],
    &[data-exiting] {
      transform: translateY(4px) scale(0.96);
    }
  }

  &[data-placement="bottom"] {
    margin-top: $space-4;

    &[data-entering],
    &[data-exiting] {
      transform: translateY(-4px) scale(0.96);
    }
  }

  &[data-placement="left"] {
    margin-right: $space-4;

    &[data-entering],
    &[data-exiting] {
      transform: translateX(4px) scale(0.96);
    }
  }

  &[data-placement="right"] {
    margin-left: $space-4;

    &[data-entering],
    &[data-exiting] {
      transform: translateX(-4px) scale(0.96);
    }
  }
}
