@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HTML
html {
  font-family: $font-primary;
  font-size: $base-font-size;
  font-weight: $fw-medium;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  min-height: 100vh;
  min-height: 100svh;
}

// Body
body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: clip;
  background-color: var(--background);
  -webkit-overflow-scrolling: touch;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
select:focus-visible,
textarea:focus-visible,
a:focus-visible,
abbr:focus-visible,
[role="region"]:focus-visible,
[data-state="tap"]:focus-visible {
  outline: 2px solid var(--secondary-focus-ring);
  outline-offset: 4px;
  border-radius: $radius-xl;
}

ul,
ol {
  list-style: none;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fw-medium;
}

// Buttons
button {
  all: unset;
}

// Links
a {
  text-decoration: none;
  color: inherit;
}

// Skip link
.skip-link {
  position: absolute;
  top: $space-12;
  left: $space-12;
  z-index: $z-modal;
  padding: $space-8 $space-12;
  border-radius: $radius-md;
  background-color: var(--gray-900);
  color: var(--white);
  transform: translateY(-180%);
  transition: transform 0.2s ease-in-out;

  &:focus,
  &:focus-visible {
    transform: translateY(0);
  }
}

// Address
address {
  font-style: normal;
}

// Images
img {
  max-width: 100%;
  display: block;
}

figure {
  display: block;
}

figcaption {
  display: none;
}

// Selection
::selection {
  background: rgb(from var(--primary) r g b / 0.7);
  color: var(--primary-on);
}

// Media queries
@media (max-width: $breakpoint-md) {
  section {
    will-change: auto;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}
