@use "../../assets/styles" as *;

// ---- banner section ----
.banner {
  width: 100%;
  // transform: rotate(-2.5deg);
  position: relative;
  z-index: $z-elevated;

  // ---- banner background behind the banner ----
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: $z-base;
    // background-color: var(--primary);
    // transform: rotate(2.5deg) scale(1.05);
    pointer-events: none;
    overflow: hidden;
    display: none;
  }

  // ---- banner surface ----
  &__surface {
    margin-inline: auto;
    width: 90svw;
    position: relative;
    z-index: $z-base;
    // left: -$space-4;
    border-radius: clamp($radius-lg, 3vw, $radius-xl);
    background-color: var(--background);
    border: 1px solid var(--primary-soft);
    overflow: hidden;

    @media (width <= $breakpoint-md) {
      width: 100svw;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 70px;
      height: 100%;
      z-index: $z-base;

      @media (width <= $breakpoint-md) {
        width: 30px;
      }
    }

    &::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        to right,
        var(--background) 50%,
        transparent 100%
      );
    }

    &::after {
      top: 0;
      right: 0;
      background: linear-gradient(
        to left,
        var(--background) 50%,
        transparent 100%
      );
    }
  }

  // ---- banner track ----
  &__track {
    display: flex;
    width: max-content;
    min-width: 100%;
    will-change: transform;
  }

  // ---- banner group ----
  &__group {
    @include flex-center;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: clamp($space-20, 3vw, $space-40);
    padding: clamp($space-14, 2vw, $space-20) clamp($space-32, 4vw, $space-40);
  }

  // ---- banner item ----
  &__item {
    @include flex-center;
    gap: clamp($space-12, 2vw, $space-20);
    white-space: nowrap;
  }

  // ---- banner label ----
  &__label {
    font-size: clamp($font-size-12, 2vw, $font-size-18);
    font-weight: $fw-semibold;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--text-light);
    padding: $space-4;
  }

  // ---- banner separator icon ----
  &__separator {
    @include flex-center;
    font-size: clamp($font-size-16, 2vw, $font-size-18);
    color: var(--accent);
  }
}
